<div class="score-modules" title="Todos os módulos que estão disponíveis para você!">
    <div class="score-icon">
        <i class="fas fa-book-open"></i>
        <p>Módulos</p>
    </div>
    <div class="score-text">0/0</div>
</div>

<div class="score-exercicios" title="Você pode responder exercícios no final de cada módulo e em Teste de Aprendizado!">
    <div class="score-icon">
        <i class="fas fa-puzzle-piece"></i>
        <p>Exercícios</p>
    </div>
    <div class="score-text">0/0</div>
</div>

<div class="score-stars" title="Você pode ganhar estrelas ao ler todo o módulo e responder aos exercícios!">
    <div class="score-icon">
        <i class="fas fa-star"></i>
        <p>Estrelas</p>
    </div>
    <div class="score-text">0/0</div>
</div>

