<div class="home-info">
    <!-- <p class="home-info-title">Ciências Humanas e suas Tecnologias</p> -->
    <h1>EDUCAÇÃO FINANCEIRA</h1>
    <div class="home-descricao">
        <p>
            Trazer a Educação Financeira para a sala de aula tem a função de trabalhar um conjunto de comportamentos para que os jovens façam escolhas mais conscientes, preparando-se para um futuro mais tranquilo.
        </p>
        <!-- <p>   
            Em nossa convivência com outros, podemos perceber como os objetivos pessoais ou dos grupos aos quais pertencemos se chocam o tempo todo com limites, conflitos ou falta de compreensão. Compreender a cultura leva a uma nova postura que permite perceber nossa vida em sociedade como uma fonte inesgotável de estabelecimento de regras e padrões, e suas constantes mudanças. A isso chamamos diversidade.
        </p> -->
        <!-- <p>    
            Conhecer o comportamento humano da perspectiva da cultura nos possibilita analisar muitas situações de uma perspectiva enriquecida pela diversidade. Trabalho em equipe, capacidade comunicativa e desenvoltura social são habilidades que podem ser desenvolvidas conforme ampliamos a compreensão sobre a cultura e a diversidade.
        </p> -->
        <!-- <p>   
            Você terá a oportunidade de entrar em contato com conceitos da antropologia, tais como socialização, diversidade cultural, etnocentrismo, relativismo cultural, identidade cultural, reciprocidade, e perceber como se aplicam à nossa vida cotidiana e ao mundo do trabalho e das relações interpessoais.
        </p>
        <p>   
            Iniciando com o conhecimento sobre as origens humanas e o surgimento da cultura, chegaremos a questões atuais como a globalização e as relações entre diferentes povos.
        </p>
        <p> -->
    </div>


    <div class="home-btn-scroll" onclick="homeScrollDown()">Comece agora mesmo!</div>
</div>
<div class="home-cover">
    <img src="https://sistemashomologacao.suafaculdade.com.br/livrointerativo/start/objetivo/EF/assets/cover.svg" alt="">
</div>