<div class="save-container">
    <div class="save-cover">
        <i class="fas fa-bookmark"></i>
        <h1>Itens Salvos</h1>
    </div>

    <div class="save-content-container">
        <h3 class="aviso-no-itens">Você não salvou nenhum item...</h3>
        <div class="save-modules">

            <!-- <div id="m-exp-1" class="module-expand module-expand--active">
                <div class="module-expand-name" onclick="expandSave(this)">Módulo 1</div>
            </div>



            <div id="m-exp-2" class="module-expand module-expand--active">
                <div class="module-expand-name" onclick="expandSave(this)">Módulo 2</div>
                <div class="module-expand-btn" ></div>
            </div> -->


        </div>
    </div>

</div>