<div class="config-modal">
    <h2>Configurações</h2>
    <!-- <div class="config-item">
        <p>Modo noturno:</p>
        <button class="btn-mode" onclick="btnChangeMode(this)"></button>
    </div> -->
    <div class="config-item">
        <p>Tamanho do texto:</p>
        <div class="text-size-container">
            <button onclick="changeTextSize(this, 0)" class="text--active">A</button>
            <button onclick="changeTextSize(this, 1)">A</button>
            <button onclick="changeTextSize(this, 2)">A</button>
        </div>
    </div>

    <!-- <div class="config-item">
        <p>Limpar dados:</p>
        <button class="btn-mode" onclick="btnChangeMode(this)"></button>
    </div> -->

    <span>v. alpha 0.1-C</span>

    <button class="btn-config-ok" onclick="openConfig()">Ok</button>
</div>