<div class="notes-container">
    <div class="notes-head">
        <div class="btn-notes-close" onclick="btnCloseNote()"></div>
        <h1>Suas anotações</h1>
    </div>
    <div class="notes-content">
        <div class="note-add-div" onclick="showTextArea()">
            <div class="note-add">
                <button class="btn-note-add" onclick="criarNovaNota()"><i class="fas fa-plus" ></i></button>
                <textarea name="texto" placeholder=" Criar nova nota..." class="input-note"></textarea>
            </div>
        </div>
        <h3 class="aviso-no-notes">Você não adicionou nenhuma nota ...</h3>
        <ol class="note-group"></ol>



    </div>
</div>