<div class="menuBG">
    <div class="menu_btn_back" onclick="backToHome()">‹</div>

    <!-- <div class="menu-logo-home"><img src="https://sistemashomologacao.suafaculdade.com.br/livrointerativo/start/objetivo/EF/assets/img/Icon-objetivo.png" alt="logo objetivo"></div> -->
    <div class="menu-module-name">Módulo</div>

    <div class="menu-progress hide">
        <div class="menu-progress-container">
            <div class="menu-progress-bar"></div>
        </div>
        <div class="menu-progress-star">
        </div>

        <div class="menu-progress-percent">
            <i class="fas fa-star"></i>
            <div class="menu-percent-txt"></div>
        </div>
    </div>

    <div class="menu-info-btn" onclick="toggleMenuInfo(this)"></div>

    <div class="menu-info">
        <div class="menu-info_modules">
            <i class="fas fa-book-open"></i>
            <p class="modules-text">0/0</p>
        </div>
        <div class="menu-info_exercicios">
            <i class="fas fa-puzzle-piece"></i>
            <p class="exercicios-text">0/0</p>
        </div>
        <div class="menu-info_stars">
            <i class="fas fa-star"></i>
            <p class='star-text'>0/0</p>
        </div>
    </div>


    <div class="menu-exercises">

        <div class="menu-exContainer">

            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>

            <div class="exLine-stars">
                <div class="exLine-percent"></div>
            </div>
        </div>

    </div>


    <div class="notify-container"></div>

</div>